/* --- ILANGIN SCROLLBAR TOTAL TAPI TETEP BISA SCROLL --- */

/* Buat Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

/* Buat Firefox dan IE lama */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}